# Ignore node_modules
node_modules

# Ignore lock file
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignore local environment files
.env
.env.*

# Ignore build outputs
.next
dist
build

# Ignore OS and editor specific files
.DS_Store
.vscode
.idea
*.log

public/uploads
